#body {
    background-color: black;
}

#topLeft {
    background-color: black;
    width: auto; 
    height: auto; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid gray;
}

#topRight {
    background-color: green;
    width: 50%;
}

#circle {
    height: 15em;
    width: 15em;
    background-color: grey;
    border-radius: 50%;
}